.plan {
  padding: 2.4rem;
  width: 100%;
  background-color: get-blue-shade("pale-light");
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;

  &__container {
    flex: 1;
    font-size: 1.6rem;
  }
  &__heading {
    font-weight: 900;
  }
  &__price {
    color: get-blue-shade("desaturated");
  }
  &__link {
    color: get-blue-shade("bright");
    font-weight: 700;
  }
}
